<footer class="text-white">
  <div class="footer-content p-3  p-sm-5">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <h3 class="text-uppercase ">Location</h3>
          <p>2215 John Daniel Drive</p>
          <span>Clark, MO 65243</span>
        </div>
        <div class="col-md-4">
          <h3 class="text-uppercase ">
            Around The Web
          </h3>
          <ul class="icons list-unstyled ">
            <li>
              <i class="fa-brands fa-facebook icon"></i>
              <i class="fa-brands fa-twitter icon"></i>
              <i class="fa-brands fa-linkedin-in icon"></i>
              <i class="fa-solid fa-globe icon"></i>
            </li>
          </ul>
        </div>
        <div class="col-md-4">
          <h3 class="text-uppercase ">About FreeLancer</h3>
          <p>Freelance is a free to use, licensed Bootstrap theme created by Route</p>
        </div>
      </div>

    </div>
  </div>
  <div class="copy-right text-center p-sm-3">
    <div class="container">
      <p>Copyright © Your Website 2021</p>

    </div>
  </div>
</footer>