<nav class="navbar navbar-expand-lg text-white fixed-top ">
  <div class="container">
    <a class="navbar-brand text-uppercase fw-bolder fs-2" routerLink="Home">Start FrameWork</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item mx-2" *ngFor="let link of links">
          <a class="nav-link text-uppercase fw-bold" [routerLink]="link" routerLinkActive="router-link-active"
            routerLinkActive="bg-btn">{{link}}</a>
        </li>

      </ul>
    </div>
  </div>
</nav>