<div class="portfolio p-5" [style.color]='"rgb(44, 62, 80)"'>
  <div class="container text-center position-relative">
    <div class="star-content mt-3 text-center">
      <h2 class="text-uppercase fw-bolder fs-1">Portfolio Component</h2>
      <div class="stars d-flex justify-content-center align-items-center m-3">
        <span></span>
        <i class="fa-solid fa-star px-3"></i>
        <span></span>
      </div>
    </div>
    <div class="portfolio-imgs">
      <div class="row g-4 ">
        <div class="col-lg-4 item col-md-6" *ngFor="let img of imgs">
          <div class="inner rounded-3" (click)="imgURL(img)">
            <img [src]="img" alt="" class="img-fluid">
            <div class="inner-layer">
              <i class="fa-solid fa-plus fa-6x"></i>
            </div>
          </div>
        </div>


      </div>
    </div>
    <div
      class="portfolio-model d-flex justify-content-center align-items-center w-100 h-100 bg-primary bg-opacity-50  position-fixed start-0 top-0 "
      [ngClass]="{'d-block':showImage, 'd-none':!showImage}">
      <i class="fa-solid fa-xmark fa-2xl" (click)="hideImage()"></i>
      <img [src]="mainImage" alt="" class="img-fluid">
      <div class="inner w-100 h-100 position-fixed" (click)="hideImage()"></div>
    </div>
  </div>

</div>