<section class="home p-sm-5">
  <div class="container w-md-50  text-center  text-white">
    <img src="assets/imgs/avataaars.svg" alt="" class="img-fluid mb-3">
    <div class="star-content mt-3 text-center">
      <h2 class="text-uppercase fw-bolder fs-1">Start Framework</h2>
      <div class="stars d-flex justify-content-center align-items-center m-3">
        <span></span>
        <i class="fa-solid fa-star px-3"></i>
        <span></span>
      </div>
    </div>
    <div>Graphic Artist - Web Designer - Illustrator</div>
  </div>
</section>